doctype html
html
  head
    title $name$
    link(rel="stylesheet", href="css/main.css")
    script(data-main="/js/main", src="/bower_components/requirejs/require.js", async)
  body
    div#wrap
      header.clearfix
        div.container
          include header
      div.clearfix
        section#content.container
          | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          | eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          | voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          | clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
          | amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          | nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          | sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          | rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          | ipsum dolor sit amet.
    footer.clearfix
      div.container
        include footer
